<div data-modal-overlay class="z-50 fixed inset-0 bg-black bg-opacity-50 pointer-events-none opacity-0"></div>
<div data-modal-screen class="opacity-0 z-50 fixed top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] rounded-lg border-2 border-inherit bg-white px-10 py-5 invisible" id="modal">
    <div class="block">
      <div class="block text-center font-bold text-lg">Are you sure?</div>
      <div class="block pt-2 text-gray-500">Do you really want to delete this order?<br>You can't undo this action.</div>
    </div>
    <div class="flex justify-between items-center pt-8 px-10">
      <button data-modal-cancel class="bg-gray-300 hover:bg-gray-400 rounded px-4 py-2">Cancel</button>
      <button data-modal-delete class="inline bg-red-500 hover:bg-red-600 rounded px-4 py-2">Delete</button>
    </div>
 </div>