<!DOCTYPE html>
<html lang="en" class="bg-slate-50">
<head>
    <%- include("../../../partials/head", { js: "courier/settings" }) %>
</head>
<body data-user-id="<%= user.id %>">
<!-- include("../../../partials/modal", { id: "delete-format", type: "warning", actions: { confirm: { type: "warning", label: "Delete" } }, title: "Are you sure?", description: "Are you sure you want to delete order " + formats.id + "? You cannot go back." })  -->
<div class="flex">
    <%- include("../../../partials/dashboard/sidebar", {isShopOwner: false}) %>
    <div class="p-10 flex-1 overflow-hidden">
        <%- include("../../../partials/breadcrumb", { links: [{ name: "Overview", href: "/dashboard/overview" }, { name: "Settings", href: "/dashboard/" }] }) %>
        <div class="flex flex-col-reverse md:flex-row mt-10 bg-white rounded-xl border border-slate-200 p-8">

            <div class="w-full">

                <form id="formTime">

                    <h2 class="font-medium text-2xl text-slate-800 mb-4 flex">

                        <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="-2 -2 24 24" width="24" fill="currentColor">
                            <path d="M11 9h4a1 1 0 0 1 0 2h-5a1 1 0 0 1-1-1V4a1 1 0 1 1 2 0v5zm-1 11C4.477 20 0 15.523 0 10S4.477 0 10 0s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16z"></path>
                        </svg>
                        Working times
                    </h2>

                    <h2 class="font-medium text-xl text-slate-800 mb-4 flex">Monday</h2>
                    <div class="flex flex-row flex-wrap justify-between">
                        <div class="flex flex-col mb-4 grow w-1/4 mx-2 min-w-min">
                            <label class="mb-2 font-bold text-sm text-slate-900" for="mondayStart">From</label>
                            <input data-timetable-input class="py-2 px-3 text-slate-800 rounded-lg focus:ring-cyan-500 focus:border-cyan-500 bg-slate-50 border border-slate-200"
                                   type="time" name="mondayStart" id="mondayStart"
                                   value=""/>
                            <p class="text-red-500 text-sm" id="mondayStart_p"></p>
                        </div>
                        <div class="flex flex-col mb-4 grow w-1/4 mx-2 min-w-min">
                            <label class="mb-2 font-bold text-sm text-slate-900" for="mondayEnd">Until</label>
                            <input data-timetable-input class="py-2 px-3 text-slate-800 rounded-lg focus:ring-cyan-500 focus:border-cyan-500 bg-slate-50 border border-slate-200"
                                   type="time" name="mondayEnd" id="mondayEnd"/>
                            <p class="text-red-500 text-sm" id="mondayEnd_p"></p>
                        </div>
                    </div>

                    <h2 class="font-medium text-xl text-slate-800 mb-4 flex">Tuesday</h2>
                    <div class="flex flex-row flex-wrap justify-between">
                        <div class="flex flex-col mb-4 grow w-1/4 mx-2 min-w-min">
                            <label class="mb-2 font-bold text-sm text-slate-900" for="tuesdayStart">From</label>
                            <input data-timetable-input class="py-2 px-3 text-slate-800 rounded-lg focus:ring-cyan-500 focus:border-cyan-500 bg-slate-50 border border-slate-200"
                                   type="time" name="tuesdayStart" id="tuesdayStart"
                                   value=""/>
                            <p class="text-red-500 text-sm" id="tuesdayStart_p"></p>
                        </div>
                        <div class="flex flex-col mb-4 grow w-1/4 mx-2 min-w-min">
                            <label class="mb-2 font-bold text-sm text-slate-900" for="tuesdayEnd">Until</label>
                            <input data-timetable-input class="py-2 px-3 text-slate-800 rounded-lg focus:ring-cyan-500 focus:border-cyan-500 bg-slate-50 border border-slate-200"
                                   type="time" name="tuesdayEnd" id="tuesdayEnd"/>
                            <p class="text-red-500 text-sm" id="tuesdayEnd_p"></p>
                        </div>
                    </div>

                    <h2 class="font-medium text-xl text-slate-800 mb-4 flex">Wednesday</h2>
                    <div class="flex flex-row flex-wrap justify-between">
                        <div class="flex flex-col mb-4 grow w-1/4 mx-2 min-w-min">
                            <label class="mb-2 font-bold text-sm text-slate-900" for="wednesdayStart">From</label>
                            <input data-timetable-input class="py-2 px-3 text-slate-800 rounded-lg focus:ring-cyan-500 focus:border-cyan-500 bg-slate-50 border border-slate-200"
                                   type="time" name="wednesdayStart" id="wednesdayStart"
                                   value=""/>
                            <p class="text-red-500 text-sm" id="wednesdayStart_p"></p>
                        </div>
                        <div class="flex flex-col mb-4 grow w-1/4 mx-2 min-w-min">
                            <label class="mb-2 font-bold text-sm text-slate-900" for="wednesdayEnd">Until</label>
                            <input data-timetable-input class="py-2 px-3 text-slate-800 rounded-lg focus:ring-cyan-500 focus:border-cyan-500 bg-slate-50 border border-slate-200"
                                   type="time" name="wednesdayEnd" id="wednesdayEnd"/>
                            <p class="text-red-500 text-sm" id="wednesdayEnd_p"></p>
                        </div>
                    </div>

                    <h2 class="font-medium text-xl text-slate-800 mb-4 flex">Thursday</h2>
                    <div class="flex flex-row flex-wrap justify-between">
                        <div class="flex flex-col mb-4 grow w-1/4 mx-2 min-w-min">
                            <label class="mb-2 font-bold text-sm text-slate-900" for="thursdayStart">From</label>
                            <input data-timetable-input class="py-2 px-3 text-slate-800 rounded-lg focus:ring-cyan-500 focus:border-cyan-500 bg-slate-50 border border-slate-200"
                                   type="time" name="thursdayStart" id="thursdayStart"
                                   value=""/>
                            <p class="text-red-500 text-sm" id="thursdayStart_p"></p>
                        </div>
                        <div class="flex flex-col mb-4 grow w-1/4 mx-2 min-w-min">
                            <label class="mb-2 font-bold text-sm text-slate-900" for="thursdayEnd">Until</label>
                            <input data-timetable-input class="py-2 px-3 text-slate-800 rounded-lg focus:ring-cyan-500 focus:border-cyan-500 bg-slate-50 border border-slate-200"
                                   type="time" name="thursdayEnd" id="thursdayEnd"/>
                            <p class="text-red-500 text-sm" id="thursdayEnd_p"></p>
                        </div>
                    </div>

                    <h2 class="font-medium text-xl text-slate-800 mb-4 flex">Friday</h2>
                    <div class="flex flex-row flex-wrap justify-between">
                        <div class="flex flex-col mb-4 grow w-1/4 mx-2 min-w-min">
                            <label class="mb-2 font-bold text-sm text-slate-900" for="fridayStart">From</label>
                            <input data-timetable-input class="py-2 px-3 text-slate-800 rounded-lg focus:ring-cyan-500 focus:border-cyan-500 bg-slate-50 border border-slate-200"
                                   type="time" name="fridayStart" id="fridayStart"
                                   value=""/>
                            <p class="text-red-500 text-sm" id="fridayStart_p"></p>
                        </div>
                        <div class="flex flex-col mb-4 grow w-1/4 mx-2 min-w-min">
                            <label class="mb-2 font-bold text-sm text-slate-900" for="fridayEnd">Until</label>
                            <input data-timetable-input class="py-2 px-3 text-slate-800 rounded-lg focus:ring-cyan-500 focus:border-cyan-500 bg-slate-50 border border-slate-200"
                                   type="time" name="fridayEnd" id="fridayEnd"/>
                            <p class="text-red-500 text-sm" id="fridayEnd_p"></p>
                        </div>
                    </div>

                    <h2 class="font-medium text-xl text-slate-800 mb-4 flex">Saturday</h2>
                    <div class="flex flex-row flex-wrap justify-between">
                        <div class="flex flex-col mb-4 grow w-1/4 mx-2 min-w-min">
                            <label class="mb-2 font-bold text-sm text-slate-900" for="saturdayStart">From</label>
                            <input data-timetable-input class="py-2 px-3 text-slate-800 rounded-lg focus:ring-cyan-500 focus:border-cyan-500 bg-slate-50 border border-slate-200"
                                   type="time" name="saturdayStart" id="saturdayStart"
                                   value=""/>
                            <p class="text-red-500 text-sm" id="saturdayStart_p"></p>
                        </div>
                        <div class="flex flex-col mb-4 grow w-1/4 mx-2 min-w-min">
                            <label class="mb-2 font-bold text-sm text-slate-900" for="saturdayEnd">Until</label>
                            <input data-timetable-input class="py-2 px-3 text-slate-800 rounded-lg focus:ring-cyan-500 focus:border-cyan-500 bg-slate-50 border border-slate-200"
                                   type="time" name="saturdayEnd" id="saturdayEnd"/>
                            <p class="text-red-500 text-sm" id="saturdayEnd_p"></p>
                        </div>
                    </div>

                    <h2 class="font-medium text-xl text-slate-800 mb-4 flex">Sunday</h2>
                    <div class="flex flex-row flex-wrap justify-between">
                        <div class="flex flex-col mb-4 grow w-1/4 mx-2 min-w-min">
                            <label class="mb-2 font-bold text-sm text-slate-900" for="sundayStart">From</label>
                            <input data-timetable-input class="py-2 px-3 text-slate-800 rounded-lg focus:ring-cyan-500 focus:border-cyan-500 bg-slate-50 border border-slate-200"
                                   type="time" name="sundayStart" id="sundayStart"
                                   value=""/>
                            <p class="text-red-500 text-sm" id="sundayStart_p"></p>
                        </div>
                        <div class="flex flex-col mb-4 grow w-1/4 mx-2 min-w-min">
                            <label class="mb-2 font-bold text-sm text-slate-900" for="sundayEnd">Until</label>
                            <input data-timetable-input class="py-2 px-3 text-slate-800 rounded-lg focus:ring-cyan-500 focus:border-cyan-500 bg-slate-50 border border-slate-200"
                                   type="time" name="sundayEnd" id="sundayEnd"/>
                            <p class="text-red-500 text-sm" id="sundayEnd_p"></p>
                        </div>
                    </div>

                    <button class="bg-cyan-500 hover:bg-cyan-700 text-white font-medium py-2 px-4 rounded-lg flex my-4 float-right transition-colors"
                            type="submit" id="saveTimetable">
                        Save
                        <svg class="ml-1" viewBox="-4.5 -4.5 24 24" width="24" fill="currentColor">
                            <path d="M8.9 6.9v-5a1 1 0 1 0-2 0v5h-5a1 1 0 1 0 0 2h5v5a1 1 0 1 0 2 0v-5h5a1 1 0 1 0 0-2h-5z"></path>
                        </svg>
                    </button>

                </form>

            </div>
        </div>

         <div class="mt-10 bg-white rounded-xl border border-slate-200 p-8">

            <h1 class="block text-slate-800 text-2xl font-bold mb-6">
                Start location
            </h1>

            <form id="startLocation">

                <div class="flex flex-col mb-4 mx-2">
                    <label class="mb-2 font-bold text-sm text-slate-900" for="country"
                    >Address</label
                    >
                    <table class="border border-t-0 py-2 px-3 text-slate-800 rounded-lg">
                    <thead>
                        <tr>
                          <div class="relative">
                              <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="-2.5 -2.5 24 24" width="24" fill="#475569"><path d="M8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12zm6.32-1.094l3.58 3.58a1 1 0 1 1-1.415 1.413l-3.58-3.58a8 8 0 1 1 1.414-1.414z"></path></svg>
                              </div>
                              <input
                                class="bg-slate-50 border border-slate-200 text-slate-800 rounded-lg focus:ring-cyan-500 focus:border-cyan-500 block pl-10 p-2 w-full"
                                type="text"
                                name="address"
                                id="address"
                                placeholder="e.g. Wibautstraat 4"
                              />
                          </div>
                        </tr>
                      </thead>
                      <tbody id="addresses">
                      </tbody>
                    </table>
                </div>

                <div class="flex flex-col mb-4 mx-2">
                  <label class="mb-2 font-bold text-sm text-slate-900" for="country"
                    >Country/Origin</label
                  >
                  <input
                    class="py-2 px-3 text-slate-800 rounded-lg focus:ring-cyan-500 focus:border-cyan-500 bg-slate-50 border border-slate-200"
                    type="text"
                    name="country"
                    id="country"
                  />
                  <p
                  class="text-red-500 text-sm"
                  id="country_p"
                  ></p
                  >
                </div>

                <div class="flex flex-row flex-wrap justify-between grow">
                  <div class="flex flex-col mb-4 grow w-3/6 mx-2 min-w-min">
                    <label
                      class="mb-2 font-bold text-sm text-slate-900"
                      for="postal_code"
                      >Postal Code</label
                    >
                    <input
                      class="py-2 px-3 text-slate-800 rounded-lg focus:ring-cyan-500 focus:border-cyan-500 bg-slate-50 border border-slate-200"
                      type="text"
                      name="postal_code"
                      id="postal_code"

                    />
                    <p
                    class="text-red-500 text-sm"
                    id="postal_code_p"
                    ></p
                    >
                  </div>
                  <div class="flex flex-col mb-4 grow w-1/6 mx-2 min-w-min">
                    <label
                      class="mb-2 font-bold text-sm text-slate-900"
                      for="city"
                      >City</label
                    >
                    <input
                      class="py-2 px-3 text-slate-800 rounded-lg focus:ring-cyan-500 focus:border-cyan-500 bg-slate-50 border border-slate-200"
                      type="text"
                      name="city"
                      id="city"

                    />
                    <p
                    class="text-red-500 text-sm"
                    id="city_p"
                    ></p
                    >
                  </div>
                </div>

                <div class="flex flex-row flex-wrap justify-between grow">
                  <div class="flex flex-col mb-4 grow w-3/6 mx-2 min-w-min">
                    <label
                      class="mb-2 font-bold text-sm text-slate-900"
                      for="street"
                      >Street</label
                    >
                    <input
                      class="py-2 px-3 text-slate-800 rounded-lg focus:ring-cyan-500 focus:border-cyan-500 bg-slate-50 border border-slate-200"
                      type="text"
                      name="street"
                      id="street"
                    />
                    <p
                    class="text-red-500 text-sm"
                    id="street_p"
                    ></p
                    >
                  </div>
                  <div class="flex flex-col mb-4 grow w-1/6 mx-2 min-w-min">
                    <label
                      class="mb-2 font-bold text-sm text-slate-900"
                      for="houseNumber"
                      >House number</label
                    >
                    <input
                      class="py-2 px-3 text-slate-800 rounded-lg focus:ring-cyan-500 focus:border-cyan-500 bg-slate-50 border border-slate-200"
                      type="text"
                      name="house_number"
                      id="house_number"

                    />
                    <p
                    class="text-red-500 text-sm"
                    id="house_number_p"
                    ></p
                    >
                  </div>
                </div>

            </form>

        </div>

    </div>
</div>
</body>
</html>
