<!DOCTYPE html>
<html lang="en" class="bg-slate-50">
<head>
  <%- include("../partials/head") %>
</head>
<body class="w-screen h-screen absolute top-0 left-0 right-0 bottom-0" style="background-image:url(/assets/img/404.gif)">
    <div class="absolute translate-x-[-50%] translate-y-[-50%] left-[50%] top-[50%]">
        <h1 class="font-black text-9xl text-white">404</h1>
        <p class="text-white font-medium text-6xl mt-6">Pagina kon niet gevonden worden</p>
    </div>
</body>
</html>