<!DOCTYPE html>
<html lang="en" class="bg-slate-50">
  <head>
    <%- include("../../partials/head", { js: "dashboard/signin" }) %>
  </head>
  <body class="w-screen h-screen flex items-center justify-center">
    <div class="w-full max-w-md">
      <form
        class="bg-white rounded-md px-8 pt-6 pb-8 border border-slate-200 space-y-6"
        method="POST"
      >
        <div>
          <label class="block text-gray-700 text-sm font-medium" for="username">
            Username
          </label>
          <input
            class="bg-slate-50 appearance-none border border-slate-200 rounded-md w-full py-2 px-3 text-slate-800 focus:outline-cyan-600"
            id="username"
            type="text"
            name="username"
            required
          />
        </div>
        <div>
          <label class="block text-gray-700 text-sm font-medium" for="password">
            Password
          </label>
          <input
            class="bg-slate-50 appearance-none border border-slate-200 rounded-md w-full py-2 px-3 text-slate-800 focus:outline-cyan-600"
            id="password"
            type="password"
            name="password"
            autocomplete="current-password"
            required
          />
        </div>
        <div class="flex items-center justify-between">
          <div class="flex items-center">
            <input
              id="remember-me"
              name="remember-me"
              type="checkbox"
              class="h-4 w-4 text-cyan-600 focus:ring-cyan-700 border-slate-200 rounded-md bg-slate-50"
            />
            <label for="remember-me" class="ml-2 block text-sm text-slate-800">
              Remember me
            </label>
          </div>
          <div class="text-sm">
            <a href="#" class="font-medium text-cyan-600 hover:text-cyan-700">
              Forgot your password?
            </a>
          </div>
        </div>
        <button
          class="w-full bg-cyan-600 shadow hover:bg-cyan-700 text-white font-medium py-3 px-5 rounded-md focus:outline-none focus:shadow-outline flex justify-between"
          type="submit"
        >
          Sign in
          <svg
            class="ml-2"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="-5 -5 24 24"
            width="24"
            fill="currentColor"
          >
            <path
              d="M10.586 5.657l-3.95-3.95A1 1 0 0 1 8.05.293l5.657 5.657a.997.997 0 0 1 0 1.414L8.05 13.021a1 1 0 1 1-1.414-1.414l3.95-3.95H1a1 1 0 1 1 0-2h9.586z"
            />
          </svg>
        </button>
      </form>
    </div>
  </body>
</html>
