<!DOCTYPE html>
<html lang="en" class="bg-slate-50">
<head>
    <%- include("../../partials/head", { js: "courier/scanner" }) %>
    <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
</head>
<body>
    <div id="reader" class="w-5/6 border border-black mx-auto mt-7"></div>
</body>
</html>