<!DOCTYPE html>
<html lang="en" class="bg-slate-200">
<head>
    <%- include("../../partials/head", { js: "courier/scanner" }) %>
    <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
</head>
<body class="bg-slate-200">
    <div id="content" class="px-8 py-4">
        <h1 class="mb-4 text-2xl font-medium text-slate-800">Scan a new order</h1>
        <div id="qrcode-container" class="rounded-2xl max-w-md overflow-hidden"></div>
        <h3 id="instruction-msg" class="my-4">Face the camera towards a QR code to scan a new order.</h3>
        <div id="not-found-message" class="bg-red-100 border border-red-500 px-4 py-2 mt-4 rounded-md hidden">
            <h1>Database error. The order could not be found.</h1>
        </div>
        <div id="loaded-order" class="hidden">
            <div id="occupied-order-message" class="bg-yellow-100 border border-yellow-500 px-4 py-2 mt-4 rounded-md hidden">
                <p>This order is either not yet ready for delivery or has already been assigned to another courier.<br>
                    If you believe this was a mistake, please consult with the managing administrator using the following
                    order details:<br><br></p>
                <h1>Order ID: <span id="order-id-container-occupied"></span></h1>
                <h1>Status: <span id="order-status-container"></span></h1>
                <h1>Courier ID: <span id="courier-id-container"></span></h1>
            </div>
            <div id="server-error-message" class="bg-red-100 border border-red-500 px-4 py-2 mt-4 rounded-md hidden">
                <h1>Internal server error. Please try again later.</h1>
            </div>
            <div id="order-info" class="mt-4 bg-white rounded-md p-4">
                <h1 class="text-xl mb-2">Order info:</h1>
                <h1>ID: <span id="order-id-container"></span></h1>
                <h1>Format: <span id="order-format-container"></span></h1>
                <h1>Weight: <span id="order-weight-container"></span></h1>
                <h1>Address: <span id="order-address-container"></span></h1>
                <h1>City: <span id="order-city-container"></span></h1>
                <h1>Country: <span id="order-country-container"></span></h1>
                <h1>Postal code: <span id="order-postal-code-container"></span></h1>
            </div>
            <div id="customer-info" class="mt-4 bg-white rounded-md p-4">
                <h1 class="text-xl mb-2">Customer info:</h1>
                <h1>Email: <span id="customer-email-container"></span></h1>
                <h1>Phone number: <span id="customer-phone-number-container"></span></h1>
            </div>
            <div id="button-container" class="mt-4 flex flex-row justify-between">
                <button id="add-order-button" type="button" class="bg-cyan-500 hover:bg-cyan-700 text-lg text-white font-medium py-2 px-4 rounded-lg flex transition-colors">
                  <span class="md:inline">
                    Add this order
                  </span>
                </button>
                <button id="scan-again-button" type="button" class="bg-cyan-500 hover:bg-cyan-700 text-lg text-white font-medium py-2 px-4 rounded-lg flex transition-colors">
                  <span class="md:inline">
                    Scan again
                  </span>
                </button>
            </div>
        </div>
    </div>
</body>
</html>
